#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:8%;
}
#contents{
    height:500px;
    width:1300px;
    background-color: #161616;
    display: grid;
    grid-template-columns: auto auto;
}
#map{
    height: 500px;
    width:700px;
    background-color: blue;
}
#coordinates{
    margin-left:5%;
    color: white;
    display:grid;
    grid-template-rows:auto auto ;
}
.cord-1{
    height: min-content;
}
.cord-2{
    align-content: center;
    margin-top: -50px;
    margin-left: 21%;
}
p{
    font-size: 20px;
    font-family: sankrit text;
    color:white;
}
span{
    font-size: 15px;
}
input{
    background-color: #2D2D2D;
    height:25px;
    width:200px;
    color:white;
    margin-top:5px;
    font-family: Poppins;
}
button{
    background-color:#484DEF;
    border:1px solid #484DEF;
    border-radius: 5%;
    color:white;
    font-family: poppins;
    padding:20px;
}
#loader{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
}