#contents{
    display: grid;
    grid-template-columns: auto auto;
}
#Location{
    width:300px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#484DEF;
}
#graphs{
    width:1000px;
    
}
#select{
    border: black;
    height: 30px;
    width:140px;
    background-color: white;
    font-style: BOLD;
    font-family: 'Courier New', Courier, monospace;
}
.Errormsg img{
    height: 200px;
    width:200px;
    margin-left: 35%;
}
span{
   
    color:gainsboro;
    position: absolute;
    left:43rem;
    padding-top: 30px;
}
#graph1{
    height: min-content;
    width:900px;
    margin-left: 20%;
    margin-top:-2%;
}
#graph2{
    display: grid;
    grid-template-columns:auto auto;
    margin-top: 6%;
    margin-left: 3%;
}
#graph{
   display: flex;
   justify-content: center;
   align-items: center;
}
#graph4{
    margin-top:3%;
    margin-left:9%;
}
#graph3{
    width: min-content;
    height: min-content;
    margin-left: 7%;
}
img{
    height: 400px;
    width:450px;
    color:white;
    margin-top:4%;
}

p{
    padding-bottom: 50px;
    
    color:white;
    margin-top: -120px;
    font-family: sankrit text;
}
label{
    padding-bottom: 30px;
    font-family: sankrit text;
}
#button{
    margin-top: 15%;
    margin-left: 25%;
}
a{
    text-decoration: none;
}
a{
    background-color:#211CB5;
    border:1px solid #484DEF;
    border-radius: 5%;
    color:white;
    font-family: poppins;
    padding:10px;
    font-size: 20px;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
