html{
    background: url(map.jpg) no-repeat center center fixed;
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     -webkit-animation: backgroundScroll 5s linear infinite;
     animation-play-state: running;
     animation: backgroundScroll 5s linear infinite;
    
}
@keyframes backgroundScroll {
    from {background-position: 0 0;}


}
@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    100%{
        animation-direction:alternate-reverse;
    }
}
#parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 7%;  
}
#content{
    height: 500px;
    width:1000px;
    display: flex;
    background-color:rgba(0,0,0,0.5);
}
.content-1{
    width:900px;
    background-color:rgba(0, 0, 0, 0.0);
    background-size: 900px 900px;  
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 2px;
}
.heading,.para,.button{
    margin-left: 5%;
    text-align: left;
    color:white;
    max-height: min-content;
}
.heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    text-align: left;
    color:white;   
    margin-bottom: -120px;
}

mark{
    text-decoration: none;
    background-color: inherit;
    color:#FF004D;
}
.para{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: -100px;
}
a{
    font-size: 30px;
    color:#FFFFFF;
    text-decoration: none;
    font-weight: bolder;
    text-decoration: underline;
    
}
a:visited{
    text-decoration: underline;
}
.content-2{
    background: #484DE5;
    width:100px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

h3{    
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 3px;
        writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        transform: rotate(180deg);
 }
