<DOCTYPE HTML>
<html>
    <head>
     <meta charset="UTF-8">
     <title>IBMHACKATHON</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
     <script src=" http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-map.js?key=cJ7E9WnLGHbfVncS0U3InQGKRAESPRyA"></script>
     <script src="https://www.mapquestapi.com/sdk/leaflet/v2.s/mq-geocoding.js?key=cJ7E9WnLGHbfVncS0U3InQGKRAESPRyA"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
     <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
     <link rel="stylesheet" href="{{ url_for('static',filename='css/map.css')}}">
    </head>
    <script>
        $(document).ready(function () {
        $('#buttonID').click(function(){
               $('#loader').show(); //<----here
               alert("loading...please wait");
        });
    });
    </script>
    <body >
            
            <div id="container">
                <div id="loader">Loading....</div>
                <div id=contents>
                    
                        <div id="map">
                        </div>
                        <div id="coordinates">

                              <div class="cord-1">
                                  <p>Just a click on the map where you exactly wants to know the people emotions</p><hr>
                              </div>
                              <div class="cord-2">
                                   <form action="/map" method="POST">
                                          <span>Langitude:</span><br>
                                          <input name="lang" id="lang" value=""><br><br>
                                          <span>Latitude:</span><br>
                                          <input name="lat" id="lat" value=""><br><br>
                                          <span>Place:</span><br>
                                          <input name="Country" id="Country" value=""><br><br>
                                          <button id="buttonID">Fetch Tweets</button>
                                   </form>
                              </div>
                         </div>
                 </div>
            </div>
            <script src="{{ url_for('static', filename='js/map.js') }}"></script>  
    </body>
</html>
