#contents{
    display: grid;
    grid-template-columns: auto auto auto;
}
#Location{
    width:300px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#graphs{
    width:750px;
    background: #161616;
}
#hashtags{
    width:350px;
    background-color: #24232A;
    display: grid;
    grid-auto-rows: auto auto;
}
#positive{
    padding:15px;
    border-bottom:1px  white;
}
#pos_container{
    color:white;
    height:300px;
    overflow-y: scroll;
}
#neg_container{
    color:white;
    height:300px;
    overflow-y: scroll;
}
#negative{
    padding:15px;
    
}
label{
    font-weight: bolder;
}
#positive a,#negative a{
    text-decoration: none;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
    color:white;
}
#positive a:visited,#negative a:visited{
    text-decoration: none;
}
#select{
    border: black;
    height: 30px;
    width:140px;
    background-color: white;
    font-style: BOLD;
    font-family: 'Courier New', Courier, monospace;
}
.Errormsg img{
    height: 200px;
    width:200px;
    margin-left: 35%;
    
}
span{
    color:white;
    position: absolute;
    left:43rem;
    padding-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}
#graph1{
    height: min-content;
    width:900px;
    margin-left: 17%;
    margin-top:15%;
}
#graph2{
    display: grid;
    grid-template-rows:auto auto;
    margin-top: 4%;
    margin-left: 20%;
    grid-row-gap: 4px;
}
#graph5{
    margin-top:18%;
    margin-left:13%;
}
#graph{
   justify-content: center;
   align-items: center;
   display: grid;
}
#graph4{
    margin-top:18%;
    margin-left:13%;
}
#graph3{
    width: min-content;
    height: min-content;
    margin-left: 7%;
    margin-top: 16%;
}

img{
    height: 400px;
    width:450px;
    color:white;
    margin-top: 7%;
}

p{
    padding-bottom: 50px;
    color:white;
    margin-top: -120px;
    font-family: sankrit text;
    margin-left:5%;
}
label{
    padding-bottom: 30px;
    font-family: sankrit text;
    margin-left:5%;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
#button{
    margin-top: 15%;
    margin-left: 25%;
    background: #0D95E8;
    padding: 15px;
    width:75px;
    color:white;
}
i{
    color:#1C9CEA;
}